$blue: #4091EC;
$green: #1fbba6;
$red: #f23564;

$darkgrey: #272727;
$lightgrey: #f6f6f6;
$grey: #888;
$white: #FFF;
$black: #000;

$fontname: "Open Sans";
$fontslug: "Open+Sans";
$icons: "Material Icons";